@import "../variables.scss";
@import "../mixin.scss";

.main-footer__wrapper {
  @include container();
  border-top: 2px solid $main-font-color;
  padding-bottom: 20px;
  padding-top: 20px;
}

.footer__info {
  padding-bottom: 20px;
}

.footer__info span {
   @include fontpref(1em, auto, 400);
   color: $main-font-color;
}

.footer__info__item a {
  @include fontpref(1em, auto, 700);
  color: $main-font-color;
  &:hover {
    color: $btn-bg-hover-color;
    transition: 0.3s;
  }
}

.footer__links b {
   @include fontpref(1.3em, auto, 700);
}

.footer__links {
  padding-bottom: 20px;
}

.footer__links__list {
  @include zero-style();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  & li {
    width: 40%;
  }
}

.footer__links__list-item {
  @include fontpref(1.2em, auto, 700);
  color: $main-font-color;
  text-decoration: underline;
  &:hover {
    color: $btn-bg-hover-color;
    transition: 0.3s;
  }
}

.footer__logo {
    min-height: 50px;
    background: url("../img/logo-desktop.svg") center no-repeat;
    background-size: 100% 100%;
}

.develop {
  @include zero-style();
  padding-bottom: 15px;
  text-align: center;
  & a {
  display: block;
  @include fontpref(0.7em, auto, 400);
  color: $main-font-color;
  text-decoration: underline;
}
}

.develop a:hover {
    color: #0f9aea;
    transition: 0.2s;
  }

