@-webkit-keyframes modal-bounce
{
    0%
    {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }
    50%
    {
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@keyframes modal-bounce
{
    0%
    {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }
    50%
    {
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@-webkit-keyframes main-nav-after-bounce
{
    0%
    {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    50%
    {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
    100%
    {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

@keyframes main-nav-after-bounce
{
    0%
    {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    50%
    {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
    100%
    {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

@-webkit-keyframes main-picture-bounce
{
    0%
    {
        -webkit-transform: translateY(-120px);
                transform: translateY(-120px);
    }
    50%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@keyframes main-picture-bounce
{
    0%
    {
        -webkit-transform: translateY(-120px);
                transform: translateY(-120px);
    }
    50%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;

    src: url('../fonts/GoogleSans-Regular.ttf');
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/GoogleSans-Medium.ttf');
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;

    src: url('../fonts/GoogleSans-Bold.ttf');
}

.body-wrapper
{
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    position: relative;

    color: #2d2d2d; 
    background-color: #ececec;
}

.preload
{
    -webkit-transition: none !important;
       -moz-transition: none !important;
        -ms-transition: none !important;
         -o-transition: none !important;
}

*,
*::before,
*::after
{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

img
{
    max-width: 100%;
    height: auto;
}
