
@mixin fontpref($size, $lineheigth, $weight) {
  font-size: $size;
  line-height: $lineheigth;
  font-family: inherit;
  font-weight: $weight
}

// Бэкграунд на всю ширину экрана.
// пример: @include cover-background("../img/main.jpg", top, center, scroll);
@mixin cover-background($img-uri, $background-top: "center", $background-left: "center", $background-attachment: "fixed") {
  background: url($img-uri) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// трансформация, плавный переход
// пример: @include transit(color,.2s,ease-in-out);
@mixin transit($what: all, $when: 0.25s, $how: ease) {
  -webkit-transition: $what $when $how;
  -moz-transition: $what $when $how;
  -ms-transition: $what $when $how;
  -o-transition: $what $when $how;
  transition: $what $when $how
}


// тень текста
// пример: @include ts(1px,1px,3px,$red);
@mixin text-sh($x, $y, $blur, $color) {
  text-shadow: $x $y $blur $color
}

// тень блока
// пример: @include bsh(1px,1px,3px,0,$gray,inset);
@mixin bsh($top, $left, $blur, $size, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $size $color;
    -moz-box-shadow: inset $top $left $blur $size $color;
    box-shadow: inset $top $left $blur $size $color;
  }

  @else {
    -webkit-box-shadow: $top $left $blur $size $color;
    -moz-box-shadow: $top $left $blur $size $color;
    box-shadow: $top $left $blur $size $color;
  }
}

// горизонтальное выравнивание для inline блока
// пример: @include justify;
@mixin justify {
  text-align: justify;
  line-height: 0;
  font-size: 0;
  text-justify: newspaper;
  zoom: 1;
  text-align-last: justify;

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0px;
    visibility: hidden;
    ;
    overflow: hidden;
  }
}

// вертикальное выравнивание для inline блока
// пример: @include vertical
@mixin vertical {
  text-align: center;
  font-size: 0;

  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
  }
}

@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin my-border($color, $width) {
  border: {
    color: $color;
    width: $width;
    style: dashed;
  }
}

@mixin input-placeholder {
  &.placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &::-webkit-input-placeholder {
    @content;
  }
}

// input,
// textarea {
//   @include input-placeholder {
//    color: $grey;
//   }
// }

@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false) {
  @include pseudo($pos: $position);
  width: 0;
  height: 0;

  @if $round {
    border-radius: 3px;
  }

  @if $direction==down {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
    margin-top: 0 - round($size / 2.5);
  }

  @else if $direction==up {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    margin-bottom: 0 - round($size / 2.5);
  }

  @else if $direction==right {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    margin-right: -$size;
  }

  @else if $direction==left {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    margin-left: -$size;
  }
}

// центровщик!!!
@mixin container() {
    max-width: 720px;
    margin: 0 auto;

  @media ($tablet-widths) {
    max-width:1200px;
  }

  @media ($desktop-widths) {
    max-width: 1800px;
  }
}

@mixin zero-style() {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
}

@mixin size($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
}

@mixin font-size($font-size: 14px, $line-height: 20px) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin padding-left-right($padding-left: 20px, $padding-right: 20px) {
  padding-left: $padding-left;
  padding-right: $padding-right;
}

@mixin padding-top-bottom($padding-top: 10px, $padding-bottom: 10px) {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
}

@mixin input-field() {
  width: 100%;
  height: 50px;
  border: 1px solid #858888;
  outline: none;
  @include font-size(20px, 21px);
}

@mixin btn() {
  display: block;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 30px;
  cursor: pointer;
  @include padding-left-right (5px, 5px);
  @include padding-top-bottom (5px, 5px);
  @include font-size (10px, 12px);
  text-transform: uppercase;
  color: $main-font-color;
  background-color: $submit-btn-bg;
  font-family: inherit;
  outline: none;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #ffeb81;
    transition: 0.3s;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    transition: 0.3s;
  }
}

@mixin link-btn() {
  width: 80%;
  margin-top: 3%;
  margin-bottom: 3%;
  display: block;
  margin: 0 auto;
  @include padding-left-right (20px, 20px);
  @include padding-top-bottom (15px, 15px);
  @include font-size (18px, 30px);
  text-transform: uppercase;
  color: $main-font-color;
  background-color: $submit-btn-bg;
  font-family: inherit;
  outline: none;
  border-radius: 30px;
  color: $main-font-color;
  cursor: pointer;
  text-align: center;
  text-decoration: none !important;

  &:hover {
    background-color: #ffeb81;
    transition: 0.3s;
    color: $btn-hover-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    transition: 0.3s;
  }
}
