
$tablet-widths: "min-width: 720px";
$desktop-widths: "min-width: 992px";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
//--- Font-size...

$main-font-size: 14px;

$main-line-height: 20px;

//--- Font-colors...

$main-font-color: #1d1d1b;

$h1-color: #000000;

$h2-colr: #000000;

$h3-color: #000000;

$h4-colr: #000000;

$article-colr: #000000;

$hover-font-color: #ffffff;

$white-font-color: #ffffff;

$active-font-color: #000000;

//--- Btn-colors...

$btn-bg-hover-color: #f46473;

$btn-bg-active-color: #000000;

$btn-bg: #ffe13e;

$submit-btn-bg: #ffe13e;

//--- Main-backgrounds...

$body-bg: #ececec;

$background-colr-1: #e20613;

$background-colr-2: #0c9aec;

$background-colr-3: #ffffff;


@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
};

@keyframes slideDown {
    0% {
        -webkit-transform: translateY(0%);
    }
    // 50%{
    //     -webkit-transform: translateY(8%);
    // }
    // 65%{
    //     -webkit-transform: translateY(-4%);
    // }
    // 80%{
    //     -webkit-transform: translateY(4%);
    // }
    // 95%{
    //     -webkit-transform: translateY(-2%);
    // }
    100% {
        -webkit-transform: translateY(100%);
    }
}

@keyframes main-nav-after-bounce {
    0% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0px);
    }
};

@keyframes main-picture-bounce {
    0% {
        transform: translateY(-120px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
};
